<main>
	<header>
		<h1>Log In!</h1>
	</header>
	<section class="log-in">
		<form method="POST" action="/sessions">
			<div class="form-control">
				<label for="email">Email</label>
				<input id="email" type="email" name="email">
			</div>
			<div class="form-control">
				<label for="password">Password</label>
				<input id="password" type="password" name="password">
			</div>
			<div class="form-control submit">
				<input type="submit" value="Log In">
			</div>
		</form>
	</section>
</main>

