<main>
	<header>
		<h1>Create an Account!</h1>
	</header>
	<section class="new-user">
		<form method="POST" action="/users">
			<div class="form-control">
				<label for="name">Name:</label>
				<input id="name" type="text" name="user[name]">
			</div>
			<div class="form-control">
				<label for="email">Email:</label>
				<input id="email" type="text" name="user[email]">
			</div>
			<div class="form-control">
				<label for="password">Password:</label>
				<input id="password" type="password" name="user[password]">
			</div>
			<div class="form-control submit">
				<input type="submit" value="Create User">
			</div>
		</form>
	</section>
</main>
